@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #F5F4F0;
  color: #3A4642;
}

.App {
  text-align: center;
}

.Header {
  padding: 20px 0;
  background-color: #3A4642;
  color: #F5F4F0;
}

.Header__link {
  color: #C9B99E;
}

.Header__link:link {
  text-decoration: none;
}

.Header__link:visited {
  text-decoration: none;
}

.Header__link:hover {
  text-decoration: underline;
}

.Header__link:active {
  text-decoration: underline;
}

.Nav {
  border-bottom: 1px solid #C9B99E;
  box-shadow: 0px 1px 2px 2px #e3e3e3;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.Articles__list {
  list-style-type: none;
  display: grid;
  grid-auto-rows: 1fr;
}

.ArticleCard {
  border: 1px solid blue;
  margin: 15px;

  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
}

.ArticleCard__link {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas:
    "title title title"
    "created_at author topic";
  grid-row-gap: 10px;

  color: inherit;
  text-decoration: inherit;
}

.ArticleCard__title {
  grid-area: title;
  margin: 10px 15px;
}

.ArticleCard__title:hover {
  text-decoration: underline;
}

.ArticleCard__title:active {
  text-decoration: underline;
}

.ArticleCard__created_at {
  grid-area: created_at;
}

.ArticleCard__author {
  grid-area: author;
}

.ArticleCard__topic {
  grid-area: topic;
}

.SingleArticle {
  text-align: start;
}

.SingleArticle__header {
  padding: 2vw 0 5vw;
}

.SingleArticle__header__data {
  line-height: 1.3em;
  padding: 2vw 0 0;

  display: flex;
  color: var(--gray75);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  flex-wrap: wrap
}

.SingleArticle__author {
  color: #8F6D48;
  font-weight: 700;
  display: flex;
  padding-bottom: 5vw;
}

.SingleArticle__body {
  padding: 0 0 4vw;
}

.Votes {
  padding: 0 0 4vw;
  font-size: large;
}

.Votes__header {
  font-weight: 700;
}

.Votes__button {
  display: inline-block;
  border: none;
  padding: 0.5rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  transition: brightness 250ms ease-in-out,
    transform 150ms ease;
}

.Votes__button:hover {
  filter: brightness(50%)
}

.Votes__button:active {
  transform: scale(0.89);
}

.Votes__error {
  color: red;
}

.Comments {
  border: 1px solid red;
}

.CommentAdder {
  min-width: 100%;
  border: 1px solid red;
  padding: 3vw 0;
  position: relative;
}

.CommentAdder label {
  text-align: center;
  margin: 0 0 2vh 0;
}

.CommentAdder textarea {
  width: 100%;
  height: 15vh;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0;
  border: 0;
  border-radius: 5px;
  font: inherit;
  resize: none;
}

.CommentAdder button {
  display: block;
  width: 30%;
  height: 3rem;
  border: 0;
  bottom: 0;
  cursor: pointer;
  font-size: medium;

  margin: 0 auto;
  border-radius: 5px;

  background-color: #C9B99E;
}

.CommentAdder button:hover {
  background-color: #8F6D48;
  color: white;
  transition: 0.2s background ease;
}

.Comments__list {
  list-style-type: none;
}

.CommentCard {
  border: 2px solid lightsalmon;
  margin: 15px 0;
  padding: 5px 0;
}

.CommentCard__head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 0 0.5vw;
}

.CommentCard__author {
  color: #8F6D48;
}

.CommentCard__created_at {
  margin-left: 10px;
}

.CommentCard__body {
  text-align: start;
  white-space: break-spaces;
}

.date-divider {
  display: inline-block;
  margin: 0 6px 1px
}

.topic-tag {
  color: #926156;
}

.outer {
  position: relative;
  padding: 0 4vw;
}

.no-comments {
  font-size: larger;
  white-space: pre-wrap;
  margin: 4vw 0;
}

.long-strings-breaker {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;
}

.loader {
  display: inline-block;
  position: relative;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0 0 0 -15px;
}

.loader::after {
  content: '';
  width: 2px;
  height: 2px;
  background: currentColor;
  position: absolute;
  bottom: 4px;
  right: -4px;
  box-sizing: border-box;
  animation: anim-loader 1s linear infinite;
}

@keyframes anim-loader {
  0% {
    box-shadow: 5px 0 rgba(0, 0, 0, 0), 10px 0 rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 5px 0 black, 10px 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 5px 0 black, 10px 0 black;
  }
}

@media only screen and (min-width: 500px) {
  .SingleArticle__header {
    padding: 2vw 0 3vw;
  }

  .SingleArticle__header__data {
    font-size: 1.4rem;
  }

  .SingleArticle__title {
    font-size: 3.2rem;
  }

  .SingleArticle__author {
    padding-bottom: 3vw;
    font-size: larger;
  }

  .SingleArticle__body {
    font-size: large;
  }

  .Votes {
    font-size: x-large;
  }

  .Comments {
    font-size: medium;
  }

  .CommentAdder {
    padding: 2vw 0;
  }

  .CommentCard__body {
    font-size: large;
  }

  .no-comments {
    font-size: x-large;
    margin: 3vw 0;
  }
}

@media only screen and (min-width: 768px) {
  .Articles__list {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    justify-content: space-evenly;
    margin: 30px;
  }

  .SingleArticle__author {
    font-size: x-large;
  }

  .SingleArticle__body {
    font-size: 1.8rem;
  }

  .Votes {
    font-size: xx-large;
  }

  .Comments {
    font-size: large;
  }

  .CommentAdder {
    padding: 1vw 0;
  }

  .Comments__header {
    font-size: larger;
  }

  .CommentCard__body {
    font-size: larger;
  }

  .no-comments {
    font-size: xx-large;
    margin: 2vw 0;
  }
}